{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/restaurant_management.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="form-box">
        <h1>Manage Menu</h1>
        <form method="post" >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Item</button>
        </form>
    </div>
    <div class="current-menu-container">
        <h2>Current Menu</h2>
        <ul class="current-menu-list">
            {% for menu in request.user.restaurant.menus.all %}
                <li>
                    <strong>{{ menu.name }}</strong>
                    <ul>
                        {% for item in menu.menu_items.all %}
                            <li>{{ item.item }} - {{ item.price }} - {{ item.veg_or_non_veg }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
