   /* CSS specific to the profile form */
   .textup {
    text-align: center;
    color: #76151e;
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-box {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 8px;
    width: 500px;
    max-width: 100%;
    margin: 20px auto;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 17px;
    color: #0b760b;
    font-weight: 600;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #76151e;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 25px;
    cursor: pointer; 
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #ff5722;
}

#edit-password-btn{
    background-color: #76151e;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 25px;
    cursor: pointer; 
    max-width: fit-content;
    width: 50%;
    font-size: 8px;
    transition: background-color 0.3s ease;
}
